<launch>
  <arg name="robot_name" default="" />
  <arg name="robot_x_pos" default="0.0"/> 
  <arg name="robot_y_pos" default="0.0"/> 
  <arg name="robot_a_pos" default="0.0"/>
  <!-- Turtlebot3-->
  <include file="$(find robot_model)/model_robot.launch">   
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

<group ns="$(arg robot_name)">
 <!-- AMCL -->

  <arg name="custom_amcl_launch_file" default="$(find multi_navigation)/launch/amcl.multi.launch.xml"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="global_frame_id" value="/map"/>
    <arg name="odom_frame_id"   value="$(arg robot_name)/odom"/>
    <arg name="base_frame_id"   value="$(arg robot_name)/base_footprint"/> 
    <arg name="initial_pose_x" value="$(arg robot_x_pos)"/>
    <arg name="initial_pose_y" value="$(arg robot_y_pos)"/>
    <arg name="initial_pose_a" value="$(arg robot_a_pos)"/>
  </include>


  <arg name="custom_param_file" default="$(find multi_navigation)/param/dummy.yaml"/>
  <include file="$(find multi_navigation)/launch/move_base_robot.launch.xml">
    <arg name="global_frame_id" value="/map"/>
    <arg name="odom_frame_id"   value="/$(arg robot_name)/odom"/>
    <arg name="base_frame_id"   value="/$(arg robot_name)/base_footprint"/>
    <arg name="odom_topic" value="/$(arg robot_name)/odom" />
    <arg name="laser_topic" value="/$(arg robot_name)/scan" />
    <arg name="cmd_topic" value="/$(arg robot_name)/cmd_vel" />
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>


</group>
</launch>


